body {
	margin: 0;
	padding: 0;

	font-size: 17px;
	line-height: 17px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: 400;
	color: #000000;

  	background-color: #ffffff;
  	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visualy-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;

	border: 0;
	clip-path: inset(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
}

.header-background {
	padding-bottom: 60px;

	background-color: #f3f7f8;
}

.button {
	padding-top: 11px;
	padding-right: 46px;
	padding-bottom: 9px;
	padding-left: 50px;

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: #ee3643;
	border-radius: 4px;
}

.button:hover {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.button-buy,
.button-bookmarks {
	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	text-align: center;
	font-weight: 400;
}

.button-buy {
	padding-top: 11px;
	padding-right: 45px;
	padding-bottom: 9px;
	padding-left: 49px;

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #63a63e;
	border-radius: 4px;
	box-shadow: 0px -3px 0px 0px rgba(54, 115, 21, 1) inset;
}

.button-buy::before {
	content: "";

	position: absolute;
	top: 11px;
	left: 14px;
	
	width: 15px;
	height: 15px;

	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
}

.button-buy:hover {
	background-color: #5fbb2d;
}

.button-buy:active {
	background-color: #518534;
}

.button-bookmarks {
	padding-top: 8px;
	padding-right: 29px;
	padding-bottom: 6px;
	padding-left: 33px;

	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #32425c;
	text-transform: uppercase;
	
	background-color: #ffffff;
	border: 3px solid;
	border-color: #63a63e;
	border-radius: 4px;
}

.button-bookmarks:hover {
	border-color: #32425c;
}

.button-bookmarks:active {
	opacity: 0.3;
}

.button-catalog {
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
	font-weight: 400;
	text-transform: uppercase;
	
	background-color: #ffffff;
	border: 1px solid;
	border-radius: 4px;
	border-color: #e5e5e5;
}

.button-catalog:hover {
	border-color: #bdc6ca;
}

.button-catalog:active {
	border-color: #ee3643;
}

.button-catalog:first-child {
	margin-left: 10px;
}

.button-page-style li {
	margin-top: 42px;
	margin-right: 10px;
	margin-bottom: 60px;	
}

.button-page-style a {
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;
	padding-right: 14px;
	padding-bottom: 8px;
	padding-left: 16px;
	
	text-align: center;
	color: #000000;

	border-radius: 4px;
}

.button-page-next a {
	padding-right: 30px;
	padding-left: 30px;
}

.button-page-current {
	background-color: #ee3643;
	border: 0;
}

.button-page-current a {
	color: #ffffff;
}

.head-menu-color {
	background-color: #293449;
}

.head-menu {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.head-menu a {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.logo-head a {
	position: relative;

	display: block;
	width: 220px;
  	min-height: 47px;
	margin-bottom: -5px;
	padding-top: 14px;
	padding-left: 55px;
	
  	background-color: #ee3643;
  	box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo-head a:hover {
	background-color: #ca2c37;
}

.logo-head a:active {
	background-color: #ba2732;
}

form.search {
	position: relative;
}

.search {
	margin: 0;
	padding: 0;
}

.search input {
	width: 223px;
	height: 43px;
	margin-left: 47px;

	background-color: #293449;
	border: 0;
}

.search input::placeholder {
	color: #ffffff;
}

.search input:focus {
	padding-left: 0px;

	color: #000000;

	background-color: #ffffff;
	border: 0;
}

.search input:focus + button {
	background-color: #ffffff;
}

.search input:focus + button path {
	opacity: 1;
	fill: #f15661;
}

.search button {
	position: absolute;
	left: 0px;

	padding-top: 13px;
	padding-right: 14px;
	padding-bottom: 13px;
	padding-left: 16px;

	background-color: transparent;
	border: 0;

	cursor: pointer;
}

.search button path {
	opacity: 0.3;
}

.search button:hover path {
	opacity: 1;
}

.bookmarks,
.basket {
	position: relative;

	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	padding-top: 13px;
	padding-bottom: 12px;
}

.bookmarks {
	padding-right: 28px;
	padding-left: 44px;
}

.bookmarks::before {
	content: "";

	position: absolute;
	left: 17px;

	width: 16px;
	height: 16px;

	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.basket {
	padding-right: 28px;
	padding-left: 49px;
}

.filled-basket {
	background-color: #ee3643;
}

.basket::before {
	content: "";

	position: absolute;
	left: 18px;

	width: 16px;
	height: 16px;

	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
	
}

.bookmarks:hover,
.basket:hover {
	background-color: #212a3a;
}

.bookmarks:hover::before,
.basket:hover::before {
	opacity: 1;
}

.checkout {
	position: relative;

	display: inline-block;
	vertical-align: middle;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	padding-top: 13px;
	padding-bottom:12px;
	padding-left: 23px;

	background-color: #63a63e;
}

.checkout:hover {
	background-color: #5fbb2d;
}

.checkout:active,
.bookmarks:active,
.basket:active {
	opacity: 0.6;
}

.head-menu p:focus {
	background-color: #ffffff;
} 

.main-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 33px;
}

.description {
	width: 210px;
	margin: 0;
	margin-top: 16px;
	margin-left: 52px;
	padding: 0;

	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	white-space: pre-line;
}

.header-address {
	display: flex;
	flex-direction: column;
}

.header-address p {
	margin: 0;
	margin-top: 4px;
	margin-left: 68px;
	padding: 0;
	
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.phone-number {
	position: relative;

	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 270px;
	height: 45px;
	margin-top: 13px;
	margin-left: 58px;
	padding: 10px;
	padding-left: 32px;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	
	border: 3px solid;
	border-color: #ffffff;
}

.phone-number::before {
	content: "";

	position: absolute;
	left: 12px;

	width: 19px;
	height: 19px;

	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
}

.button-head a {
	position: relative;
	left: 69px;

	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-top: 13px;
	padding: 0;
	padding-top: 12px;
	padding-bottom: 12px;
	
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff; 
}

.button-head svg {
	position: absolute;
	top: 14px;
	left: 14px;
} 

.button-head a:hover {
	color: #ee3643;
}

.button-logout:hover path {
	fill: #32425c;
}

.button-head a:active {
	color: #000000;

	opacity: 0.3;
} 

.button-head .button-logout {
	padding-right: 26px;
	padding-left: 47px;
}

.button-head .registration {
	margin-left: 6px;
	padding-right: 24px;
	padding-left: 24px;
}

.navigation-menu {
	display: flex;
	flex-wrap: wrap;
	margin-top: 39px;

	background-color: #32425c;
	box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.navigation-menu ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-left: 26px;

	list-style: none;
}

.navigation-menu a {
	display: flex;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 23px;
	padding-left: 30px;

	color: #ffffff;
}

.navigation-menu a:hover {
	background-color: #293449;
}

.navigation-menu a:active {
	opacity: 0.5;
}

.users-block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.users {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0;
	margin-top: 12px;
	margin-left: 51px;
	padding: 0;
	padding-left: 16px;
	
	background-color: #ffffff;
}

.users a:active {
	opacity: 0.3;
}

.users-name {
	position: relative;

	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 30px;

	font-size: 21px;
	line-height: 21px;
	color: #000000;
	white-space: nowrap;
}

.users-name span {
	opacity: 1;
}

.users-name svg {
	content: "";

	position: absolute;
	top: 13px;
	left: -3px;

	width: 20px;
	height: 18px;
}

.account-exit {
	position: relative;

	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 18px;
	padding-left: 32px;
}

.account-exit svg {
	content: "";

	position: absolute;
	top: 22px;
	right: 1px;

	width: 20px;
	height: 17px;

	transform: translate(-50%, -50%);
}

.users-name:hover path,
.account-exit:hover path {
	fill: #32425c;
	opacity: 1;
}

.users-link {
	position: relative;

	display: flex;
	margin-top: 7px;
	margin-left: 70px;
}

.users-link a {
	padding-right: 30px;

	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.users-link a::after {
	content: "";

	position: absolute;
	left: 88px;
	top: 7px;

	width: 4px;
	height: 4px;

	background-color: #32425c;
	border-radius: 50px;
}

.users-link a:hover {
	color: #ee3643;
}

.users-link a:active {
	color: #32425c;

	opacity: 0.3;
}

.menu-sliders {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: 59px;
	padding: 0;

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
}

.menu-sliders h3 {
	position: relative;

	display: inline-block;
	vertical-align: middle;

	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.slider-block-small a {
	color: #ffffff;

	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.slider-block-small a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.slider-block-small a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.first-line-sliders {
	display: flex;
}

.second-line-sliders {
	display: flex;
	flex-direction: column;
}

.menu-sliders .technics,
.menu-sliders .sales,
.menu-sliders .delivery,
.second-line-sliders {
	margin-right: 0;
}

.slider-block-small {
	position: relative;

	display: inline-block;
	vertical-align: middle;
	width: 300px;
	height: 123px;
	margin-right: 20px;

	overflow: hidden;
}

.materials {
	background-color: #ffbf47;
}

.materials h3 {
	margin: 0;
	padding-left: 22px;
	padding-top: 21px;
}

.materials h3::after {
	content: "";

	position: absolute;
	top: 31px;
	right: -122px;

	width: 44px;
	height: 65px;
	
	background-position: top right;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
}

.materials a {
	position: absolute;
	bottom: 21px;
	left: 25px;

	padding-top: 10px;
	padding-right: 24px;
	padding-bottom: 10px;
	padding-left: 24px;
	
	text-transform: uppercase;
}

.materials .new-item {
	content: "";

	position: absolute;
	top: 7px;
	right: -25px;

	display: inline-block;
	vertical-align: middle;
	width: 90px;
	padding: 4px 0;
	
	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-align: center;
	color: #ffffff;
	font-weight: 400;
	
	background-color: #ee3643;

	transform: rotate(45deg);
}

.tools {
	background-color: #3bbce3;
}

.tools h3 {
	margin: 0;
	padding-top: 21px;
	padding-left: 22px;
}

.tools h3::after {
	content: "";

	position: absolute;
	top: 33px;
	right: -134px;

	width: 75px;
	height: 61px;

	background-position: top right;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
}

.tools a {
	position: absolute;
	bottom: 21px;
	left: 25px;
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 27px;
	padding-right: 27px;

	text-transform: uppercase;
	
	background-color: #35a9cc;
	border-radius: 3px;
}

.technics {
	background-color: #dc91d8;
}

.technics h3 {
	margin: 0;
	padding-top: 21px;
	padding-left: 23px;
}

.technics h3::after {
	content: "";

	position: absolute;
	top: 31px;
	right: -168px;

	width: 78px;
	height: 62px;
	
	background-position: top right;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
}

.technics a {
	position: absolute;
	bottom: 21px;
	left: 23px;

	padding-top: 11px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 31px;

	text-transform: uppercase;

	background-color: #c682c2;
	border-radius: 3px;
}

.sales {
	margin-top: 20px;

	background-color: #8ed78f;
}

.sales h3 {
	margin: 0;
	padding-top: 21px;
	padding-left: 23px;
}

.sales h3::after {
	content: "";

	position: absolute;
	top: 26px;
	right: -115px;

	width: 59px;
	height: 72px;

	background-position: top right;
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
}

.sales a {
	position: absolute;
	bottom: 21px;
	left: 23px;

	padding-top: 11px;
	padding-right: 24px;
	padding-bottom: 10px;
	padding-left: 23px;

	text-transform: uppercase;

	background-color: #80c180;
	border-radius: 3px;
}

.delivery {
	margin-top: 20px;

	background-color: #ffc047;
}

.delivery h3 {
	margin: 0;
	padding-left: 23px;
	padding-top: 21px;
}

.delivery h3::after {
	content: "";

	position: absolute;
	top: 32px;
	right: -157px;

	width: 78px;
	height: 63px;
	
	background-position: top right;
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
}

.delivery a {
	position: absolute;
	bottom: 22px;
	left: 23px;

	padding-top: 11px;
	padding-right: 37px;
	padding-bottom: 9px;
	padding-left: 37px;

	text-transform: uppercase;

	background-color: #e5ac40;
	border-radius: 3px;
}

.sliders {
	position: relative;
}

.sliders .button {
	position: absolute;
	top: 226px;
	left: 25px;
	z-index: 1;
}

.sliders div:not(.mySlides) {
	text-align: center;
}

.slider-block-big {
	position: relative;

	width: 620px;
	height: 266px;
	margin-top: 20px;
	margin-right: 20px;
	
	opacity: 1;
}

.slider-block-big h3 {
	position: absolute;
	top: -13px;
	left: 24px;
	
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.slider-block-big p {
	position: relative;

	display: block;
	margin: 0;
	padding: 0;
	padding-top: 61px;
	padding-left: 25px;

	font-size: 18px;
	line-height: 24px;
	text-transform: none;
}

.slider-drill {
	z-index: 1;

	background-position: top center;
	background-color: #b9a896;
	background-image: url("../img/photo_index1.jpg");
	background-repeat: no-repeat;
}

.slider-perforator {
	z-index: 0;

	display: none;

	background-position: top center;
	background-color: #b9a896;
	background-image: url("../img/photo_index2.jpg");
	background-repeat: no-repeat;
}

.button-forward {
	position: absolute;
	top: 134px;
	right: 40px;
	z-index: 2;

	width: 22px;
	height: 40px;

	color: #000000;
	
	cursor: pointer;
}

.button-back {
	position: absolute;
	top: 134px;
	left: 25px;
	z-index: 2;

	width: 22px;
	height: 40px;
	
	cursor: pointer;
}

.dots-slider {
	position: absolute;
	bottom: 33px;
	left: 290px;
	z-index: 2;
}

.dot {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 0 4px;

	background-color: #ffffff;
  	border-radius: 50%;

  	cursor: pointer;
}

.active, 
.dot:hover {
  	background-color: #ee3643;
  	border: 2px solid #ffffff;
}

.catalog-title {
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.catalog-title ul {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	margin-top: 21px;
	padding: 0;
	
	list-style: none;
}

.catalog-title li {
	position: relative;
}

.catalog-title li:not(:first-child) {
	margin-left: 28px;
	margin-right: 13px;
}

.catalog-title li:not(:last-child)::after {
	content: "";

	position: absolute;
	top: 2px;
	right: -26px;

	width: 8px;
	height: 12px;

	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
}

.catalog-title li:first-child::after {
	right: -10px;
}

.catalog-title a {
	color: #000000;
}

.catalog-title-home {
	margin-left: -1px;
	margin-right: 12px;
}

.h1-catalog {
	display: flex;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	padding-top: 30px;
	padding-bottom: 29px;
	padding-left: 28px;

	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: 400;
	text-transform: uppercase;

	background-color: #f2f6f8;
}

.filter-title-block {
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
}

.filter-title-block h3 {
	margin: 0;
	margin-right: 20px;
	padding: 0;
	padding-top: 10px;
	padding-right: 152px;
	padding-left: 18px;
	padding-bottom: 10px;

	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	
	background-color: #f7f3ec;
	border-radius: 4px;
}

.sorting-catalog {
	display: flex;
	width: 100%;

	background-color: #f7f3ec;
	border-radius: 4px;
}

.sorting-catalog ul {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;

	list-style: none;
}

.sorting-catalog .active-sorting {
	color: #ee3643;
	text-decoration: none;
}

.sorting-type h3 {
	padding: 0;
	padding-right: 118px;
	padding-left: 20px;
	
	background-color: transparent;
}

.sorting-type li {
	padding-top: 9px;
	padding-bottom: 10px;
}

.sorting-type li:not(:first-child) {
	margin-right: 69px;
}

.sorting-type li:last-child {
	margin-right: 41px;
}

.sorting-type a {
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #b2b2b2;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: underline dotted #ee3643;
}

.sorting-type a:hover:not(.active-sorting) {
	color: #000000;
	text-decoration: underline solid #ee3643;
}

.active-sorting path {
	fill: #ee3643;
	opacity: 1;
}

.sorting-button li {
	position: relative;

	margin: 0;
}

.sorting-button a:not(.active-sorting) {
	opacity: 0.3;
}

.sorting-ascending {
	display: block;
	padding: 4px;
}

.sorting-descending {
	display: block;
	margin-left: 12px;
	padding: 4px;
}

.sorting-ascending:hover:not(.active-sorting) path,
.sorting-descending:hover:not(.active-sorting) path {
	opacity: 1;
}

.sorting-ascending:active path,
.sorting-descending:active path {
	fill: #ee3643;
}

.filter-catalog fieldset {
	width: 220px;
	margin: 0;
	padding: 0;
	
	border: none;
	border-bottom: 1px solid #e5e5e5;
}

.filter-catalog legend {
	padding-bottom: 12px;

	font-size: 17px;
	line-height: 30px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.filter-catalog ul {
	list-style: none;
}

.filter-catalog .button-catalog {
	margin-top: 58px;
	padding-top: 10px;
	padding-right: 39px;
	padding-bottom: 8px;
	padding-left: 39px;

	text-align: center;

	background-color: transparent;
	
	cursor: pointer;
}

fieldset.filter-price {
	margin-top: 11px;
}

.range-controls {
  	position: relative;

  	margin-bottom: 10px;
	padding-top: 41px;
	padding-right: 20px;
	padding-bottom: 39px;
	padding-left: 20px;

	background-color: #f7f3ec;
	border-radius: 4px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(0, 0, 0, 0.1);
}

.range-controls .bar {
  	width: 80%;
  	height: 2px;

  	background-color: #00ca74;
}

.range-toggle {
	position: absolute;
	top: 32px;

	width: 20px;
	height: 20px;

	background-color: #b1b1b1;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

	cursor: pointer;
}

.range-toggle:hover {
  	background: #1c4f80;
}

.range-toggle-min {
  	left: 15px;
}

.range-toggle-max {
  	left: 70%;
}

.price-controls {
	position: relative;
}

.price-controls input {
  	width: 95px;
  	height: 36px;
  	margin: 0;

  	font: inherit;
 	text-align: center;
	color: inherit;
	
	background: none;
	border: none;
	border-radius: 4px;
	background-color: #f7f3ec;
}

.min-price input {
	margin-right: 5px;

	font-family: "PT Sans", "Arial", sans-serif;
}

.max-price input {
	margin-left: 10px;

	font-family: "PT Sans", "Arial", sans-serif;
}

.catalog-main-block {
	display: flex;
}

fieldset.filter-fabricator {
	margin-top: 42px;
}

.filter-fabricator ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-fabricator li {
	margin-top: 2px;
	margin-bottom: 20px;
	padding-left: 34px;
}

.filter-fabricator label {
	position: relative;

	display: block;

	cursor: pointer;

	user-select: none;
}

.filter-fabricator input + label::before {
	content: "";

	position: absolute;
	top: -2px;
	left: -34px;
	
	width: 23px;
	height: 23px;

	background-position: 0 0;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	opacity: 0.7;
}

.filter-fabricator input:checked + label::before {
	background-image: none;
}

.filter-fabricator input:checked + label::after {
	content: "";

	position: absolute;
	top: -2px;
	left: -34px;
	
	width: 27px;
	height: 23px;

	background-position: 0 0;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

.filter-fabricator input:hover + label::before,
.filter-fabricator input:hover + label::after {
	opacity: 1;
}

fieldset.filter-power {
	margin-top: 19px;

	border: none;
}

.filter-power ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.filter-power li {
	margin-top: 2px;
	margin-bottom: 20px;
	padding-left: 34px;
}

.filter-power label {
	position: relative;

	display: block;
	
	cursor: pointer;

	user-select: none;
}

.filter-power input + label::before {
	content: "";

	position: absolute;
	top: -3px;
	left: -35px;
	
	width: 25px;
	height: 25px;

	background-position: 0 0;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	opacity: 0.7;
}

.filter-power input:checked + label::before {
	background-image: none;
}

.filter-power input:checked + label::after {
	content: "";

	position: absolute;
	top: -3px;
	left: -35px;
	
	width: 25px;
	height: 25px;

	background-position: 0 0;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	opacity: 0.7;
}

.filter-power input:hover + label::before,
.filter-power input:hover + label::after {
	opacity: 1;
}

.filter-fabricator input:disabled + label,
.filter-power input:disabled + label {
	opacity: 0.4;

	cursor: default;
}

.filter-fabricator label,
.filter-power label {
	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.filter-input:hover::before {
	color: #b5b5b5;
}

.filter-input:disabled {
	opacity: 0.4;
}

.popular-headline-products {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 53px;

	background-color: #f9f5f0;
}

.popular-headline-products h2 {
	width: 630px;
	margin: 0;
	padding: 0;
	padding-left: 28px;
	padding-top: 30px;
	padding-bottom: 30px;

	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: 400;
	text-transform: uppercase;
}

.popular-headline-products a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 24px;
	padding-right: 55px; 
	padding-left: 54px;

	text-align: center;
}

.product {
	font-size: 18px;
	line-height: 20px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
}

.product article {
	position: relative;

	width: 220px;
	margin: 0;
	margin-top: 19px;
	margin-right: 20px;
	padding: 0;
	padding-bottom: 20px;
	background-color: #ffffff;
	
	border: 1px solid;
	border-color: #e5e5e5;
	overflow: hidden;
}

.product:last-child article {
	margin-right: 0;
}

.product h3 {
	position: relative;

	width: 190px;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 11px;
	margin-left: 14px;
	padding: 0;

	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.product article:hover {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
} 

.product article:hover img {
	opacity: 0;
} 

.product article:hover div {
	display: inline-block;
	vertical-align: middle;
} 

.product del {
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
}

.product ins {
	margin-top: 10px;
	margin-right: 54px;
	margin-left: 42px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;

	background-color: #ee3643;
	border-radius: 3px;
}

.product ins::after {
	content: "";

	position: absolute;
	right: 35px;
	bottom: 20px;

	width: 0; 
	height: 0;

	border-top: 19px solid ;
	border-bottom: 19px solid;
	border-left: 21px solid #ee3643;
}

.product .price,
.product .price-nodel {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product .price-nodel {
	margin-top: 39px;
}

.product .new-item {
	content: "";

	position: absolute;
	top: 6px;
	right: -26px;

	display: inline-block;
	vertical-align: middle;
	width: 90px;
	padding: 4px 0;

	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-align: center;
	color: #ffffff;
	font-weight: 400;

	background-color: #ee3643;
	
	transform: rotate(45deg);
}

.popular-products ul,
.catalog-item-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-item-block {
	margin-top: 10px;
	margin-left: 10px;
}

.catalog-item-block ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-item-block article {
	margin: 0;
}

.catalog-item-block .product {
	margin: 10px;
}

.catalog-item-block .product:nth-child(3n+3) {
	margin-right: 0;
}

.button-product {
	position: absolute;
	top: 43px;
	left: 41px;

	display: none;
}

.button-product a {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 8px;
}

.popular-headline-fabricators {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 21px;
	margin-bottom: 10px;

	background-color: #f9f5f0;
}

.popular-headline-fabricators h2 {
	width: 630px;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	padding-bottom: 29px;
	padding-left: 28px;

	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: 400;
	text-transform: uppercase;
}

.popular-headline-fabricators a {
	margin-right: 24px;
	padding-top: 10px;
	padding-right: 68px;
	padding-bottom: 10px;
	padding-left: 69px;
}

.popular-fabricators ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	padding: 0;

	list-style: none;
}

.popular-fabricators a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 145px;
	margin: 10px;

	background-color: #ffffff;
	border: 1px solid;
	border-color: #e5e5e5;
}

.popular-fabricators a:hover {
	border: 1px solid;
	border-color: #e5e5e5;
	box-shadow: 0 5px 25px 0 rgba(41, 52, 73, 0.5);
} 

.popular-fabricators a:active {
	opacity: 0.3;
} 

.article-bg-index {
	padding-bottom: 97px;

	background-color: #f2f6f8;
}

.article-bg-catalog {
	padding-bottom: 68px;

	background-color: #f2f6f8;
}

.perforator-article h2 {
	margin: 0;
	padding: 0;
	padding-top: 65px;
	padding-bottom: 26px;

	font-weight: 400;
}

.perforator-article p {
	display: flex;
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
}

.services {
	display: flex;
	flex-direction: column;
	padding-top: 65px;
	margin-top: 75px;

	font-size: 13px;
	line-height: 24px;
}

.services h2 {
	margin: 0;
	margin-bottom: 13px;
	padding: 0;
	
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.services h3 {
	margin: 0;
	margin-top: 4px;
	margin-left: 79px;
	padding: 0;

	font-style: normal;
	font-size: 36px;
	line-height: 24px;
	color: #32425c;
	font-weight: 400;
	text-transform: uppercase;
}

.services ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.services p {
	font-family: "PT Sans", "Arial", sans-serif;
}

.services-item {
	position: relative;

	display: flex;
	margin-top: 56px;
}

.services-item a:after {
	content: "";

	position: absolute;
	top: -38px;
	left: 231px;

	width: 10px;
	height: 279px;

	background-image: url("../img/services-shadow.png");
	background-repeat: no-repeat;
}

.mySlidesService:not(:nth-child(1)) {
	display: none;
}

.servises-link a {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 1px;
	padding-top: 14px;
	padding-right: 140px;
	padding-bottom: 17px;
	padding-left: 22px;

	font-size: 21px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;

	background-color: #32425c;
	border: none;
	box-shadow: 0 1px 0 0 rgba(41, 52, 73, 1), 0px 1px 0px 0px rgba(64, 80, 105, 1) inset;
	
	cursor: pointer;
}

.servises-link a:hover {
	background-color: #293449;
}

.servises-link a:active {
	color: #32425c;

	background-color: #ffffff;
	box-shadow: none;
}

.services-article p {
	width: 400px;
	margin-top: 26px;
}

.services-delivery {
	position: relative;
}

.services-delivery p {
	width: 278px;
	margin: 0;
	margin-top: 32px;
	margin-left: 80px;
	padding: 0;
}

.services-delivery p::after {
	content: "";

	position: absolute;
	top: 19px;
	left: 231px;

	width: 468px;
	height: 261px;
	
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;
}

.services-guarantee {
	position: relative;
}

.services-guarantee h3 {
	font-style: italic;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;
}

.services-guarantee p {
	width: 375px;
	margin: 0;
	margin-top: 33px;
	margin-left: 80px;
	padding: 0;
}

.services-guarantee p::after {
	content: "";

	position: absolute;
	top: 0px;
	left: 317px;

	width: 389px;
	height: 283px;
	
	background-image: url("../img/guarantee.png");
	background-repeat: no-repeat;
}

.services-credit {
	position: relative;

	margin-left: -3px;
}

.services-credit p {
	width: 388px;
	margin: 0;
	margin-top: 33px;
	margin-left: 79px;
	padding: 0;
}

.services-credit p::after {
	content: "";

	position: absolute;
	top: -1px;
	left: 244px;

	width: 465px;
	height: 285px;
	
	background-image: url("../img/credit.png");
	background-repeat: no-repeat;
}

.services-credit a {
	position: absolute;
	bottom: -64px;
	left: 78px;

	padding-left: 44px;
}

.services-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 86px;
}

.feature {
	position: relative;

	display: inline-block;
	vertical-align: middle;
	margin-top: 55px;
}

.feature h2,
.contacts h2 {
	padding: 0;

	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.feature ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.feature li {
	position: relative;

	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 36px;

	font-size: 18px;
	line-height: 20px;
}

.feature li::before {
	content: "";

	position: absolute;
	top: 10px;
	left: -36px;
	
	width: 25px;
	height: 2px;

	background-color: #ee3643;
}

.feature p {
	width: 536px;
	margin: 0;
	margin-top: 25px;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
}


.feature .button {
	position: absolute;
	bottom: -65px;
	left: 0px; 

	padding-right: 40px;
	padding-left: 41px;
}

.contacts {
	position: relative;

	margin-top: 55px;
	margin-left: 104px;
}

.contacts p {
	width: 189px;
	margin-bottom: 32px;

	font-family: "PT Sans", "Arial", sans-serif;
}

.contacts .button {
	position: absolute;
	bottom: -65px;
	left: 0px;

	padding-right: 59px;
	padding-left: 64px;
}

.services-info h2,
.perforator-article h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-info p,
.perforator-article p {
	font-size: 13px;
	line-height: 24px;
}

.footer-background {
	margin-top: 151px;

	background-color: #32425c;
}

.footer-background-catalog {
	margin-top: 0;

	background-color: #32425c;
}

.footer-menu {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-bottom: 31px;
	
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-menu ul {
	list-style: none;
}

.footer-menu a {
	color: #ffffff;
}

.logo-footer a {
	display: inline-block;
	vertical-align: middle;
	width: 220px;
	height: 68px;
	padding-top: 21px;
	padding-left: 42px;
	
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo-footer a:hover {
	background-color: #ca2c37;
}

.logo-footer a:active {
	background-color: #ba2732;
}

.footer-menu-main ul {
	display: flex;
	margin-top: 38px;
	margin-left: 70px;
}

.footer-menu-main li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 60px;
}

.footer-menu-item ul {
	display: flex;
	margin: 0;
	margin-top: 16px;
	margin-left: 22px;	
	padding: 0;
}

.footer-menu-item li {
	margin-left: 60px;
}

.footer-menu-item a {
	color: #ffd180;
}

.footer-menu-main a:hover,
.footer-menu-item a:hover {
	text-decoration: underline;
}

.footer-menu-main a:active,
.footer-menu-item a:active {
	text-decoration: none;

	opacity: 0.5;
}

.footer-top,
.footer-middle {
	display: flex;
}

.footer-site {
	padding-top: 9px;
	padding-bottom: 15px;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

	background-color: #293449;
}

.footer-site ul {
	list-style: none;
}

.address-footer {
	width: 330px;
	margin-top: -2px;
	margin-left: 3px;
}

.address-footer a {
	color: #ffffff;
	text-decoration: none;
}

.footer-copyright {
	display: flex;
	margin-top: 12px;
}

.footer-copyright p {
	width: 240px;
}

.footer-network ul {
	display: flex;
	margin-left: 106px;
}

.footer-network a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-top: -1px;
	margin-left: 5px;

	background-color: #212a3a;
	border-radius: 20px;
}

.footer-network a:hover {
	background-color: #ee3643;
}

.footer-network a:active {
	background-color: #ee3643;
}

.footer-developed ul {
	display: flex;
}

.footer-developed a {
	padding-right: 2px;

	color: #ffd180;
}

.footer-developed a:hover {
	text-decoration: underline;
}

.footer-developed a:active {
	color: #ee3643;
	text-decoration: none;
}

.footer-feedback {
	margin-right: 50px;
	margin-left: 80px;
}

@keyframes bounce {
	0% {
		transform: translateY(-4000px);
	}

	70% {
		transform: translateY(-30px);
	}

	90% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0px);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.popap-feedback {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index:9999;

	display: none;
	width: 620px;
	margin-top: -215px;
	margin-left: -310px;
	padding-top: 46px;
	
	background-color: #ffffff;
	border-top: 7px solid;
	border-top-color: #ff5357;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
	overflow: auto;
}

.popap-feedback form {
	margin-bottom: 0;
}

.popap-feedback ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-left: 80px;
	padding-right: 80px;

	list-style: none;
}

.popap-feedback input {
	width: 220px;
	height: 38px;
	margin-top: 11px;
	padding-left: 12px;

	border: 2px solid #b5b5b5;
	border-radius: 2px;
	opacity: 0.7;
}

.popap-feedback label{
	font-size: 18px;
	line-height: 18px;
}

.popap-feedback p {
	margin: 0;
	padding: 0;
}

.popap-show {
	display: block;

	animation: bounce 0.6s;
}

.popap-feedback-error {
	animation: shake 0.6s;
}

.popap-feedback-name {
	padding-right: 20px;
}

.popap-feedback-letter {
	margin-top: 20px;
}

.popap-feedback-letter textarea {
	width: 460px;
	margin-top: 9px;
	margin-bottom: 37px;
	padding-top: 10px;
	padding-left: 12px;

	border: 2px solid #b5b5b5;
	border-radius: 2px;
	opacity: 0.7;
}

.popap-feedback input:hover,
.popap-feedback-letter textarea:hover {
	border: 2px solid #b5b5b5;
	border-radius: 2px;
	opacity: 1;
}

.popap-feedback input:focus,
.popap-feedback-letter textarea:focus {
	border: 2px solid #ee3744;
	border-radius: 2px;
}

.button-popap {
	margin: 0;
	padding-top: 37px;
	padding-right: 80px;
	padding-bottom: 37px;
	padding-left: 80px;

	background-color: #f4f4f4;
}

.button-popap .button {
	position: relative;

	width: 100%;
	
  	border: none;

  	cursor: pointer;
}

.button-close,
.button-close-feedback {
	position: absolute;
	top: 20px;
	right: 20px;

	padding: 0;

	color: inherit;
  	
  	background-color: transparent;
  	border: none;

  	cursor: pointer;
}

.button-close::before,
.button-close-feedback::before {
	content: "";

	position: absolute;
	z-index: 9999;
	
	width: 21px;
	height: 21px;

	background-image: url("../img/icon-close.svg");
	background-repeat: no-repeat;
	
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.button-submit {
	background-color: #f4f4f4;
}

.popap-feedback input::placeholder,
.popap-feedback textarea::placeholder {
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #a9a9a9;	
}

.popap-map {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;

	display: none;
	margin-top: -215px;
	margin-left: -470px;
	width: 940px;
    
    background-color: #ffffff;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.popap-map iframe {
  	position: relative;
  	z-index: 2;

  	border: none;
}

.popap-map img {
	position: absolute;
  	top: 0;
  	left: 0px;
  	z-index: 1;

  	margin: 0;
}

.popap-map-show {
	display: block;
}

.open-map img {
	position: relative;
}

.popap-basket {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 50%;
	left: 50%;
	z-index:9999;

	display: none;
	margin-left: -310px;
    margin-top: -215px;

    background-color: #ffffff;
	border-top: 7px solid;
	border-top-color: #ff5357;
	box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
	overflow: auto;
}

.popap-basket p {
	padding-top: 75px;
	padding-right: 125px;
	padding-bottom: 68px;
	padding-left: 179px;

	font-size: 30px;
	line-height: 30px;
	white-space: nowrap;
}

.popap-basket p::before {
	content: "";

	position: absolute;
	top: 90px;
	left: 82px;
	
	width: 70px;
	height: 70px;

	background-image: url("../img/icon-mark.svg");
	background-repeat: no-repeat;
}

.popap-basket-show {
	display: flex;

	animation: bounce 0.6s;
}

.button-popap-basket {
	display: block;
	padding-top: 37px;
	padding-right: 88px;
	padding-bottom: 37px;
	padding-left: 88px;

	background-color: #f1f1f1;
}

.button-popap-basket .button {
	position: relative;

	width: 220px;
  	height: 38px;
  	margin-right: 20px;

  	border: none;

  	cursor: pointer;
}

.button-popap-basket .button-catalog {
	width: 220px;
  	height: 38px;
  	padding-top: 4px;

  	border-radius: 4px;

  	cursor: pointer;
}

.button-popap-basket .button-catalog:hover {
	border-color: #bdc6ca;
}

.button-popap-basket .button-catalog:active {
	border-color: #ee3643;
}

.button-popap-basket .button-close {
	padding: 0;

	color: inherit;

	background-color: transparent;
 	border: none;
  	
  	cursor: pointer;
}

.button-popap-basket .button-close::before {
	content: "";

	position: absolute;
	top: 0px;
	right: -18px;
	
	width: 21px;
	height: 21px;

	background-image: url("../img/icon-close.svg");
	background-repeat: no-repeat;

	transform: translate(-50%, -50%);
}