body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	color: #000000; 

  	background-color: #ffffff;

  	min-width: 1200px;
	min-height: 3151px;
}

a {
	text-decoration: none;
}

.visualy-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.header-background {
	background-color: #f3f7f8;
}

.button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #ee3643;
}

.button:hover {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.button-catalog,
.button-page-style a {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #000000;

	text-transform: uppercase;

	background-color: #ffffff;

	border: 1px solid;
	border-color: #e5e5e5;
}

.button-page a:hover {
	border-color: #bdc6ca;
}

.button-page a:active {
	border-color: #ee3643;
}

.button-page-style ul {
	list-style: none;
}

.button-page-current a {
	color: #ffffff;

	background-color: #ee3643;
}

.button-buy {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-color: #63a63e;
}

.button-buy:hover {
	background-color: #5fbb2d;
}

.button-buy:active {
	background-color: #518534;
}

.button-bookmarks {
	font-size: 14px;
	line-height: 18px;
	color: #32425c;
	text-transform: uppercase;

	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	border: 5px solid;
	border-color: #63a63e;
}

.button-bookmarks:hover {
	border-color: #32425c;
}

.button-bookmarks:active {
	opacity: 0.3;
}

.button-close {
	background-image: url("../img/icone-close.svg");
	background-repeat: no-repeat;
}

.bookmarks {
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;

	text-align: center;
}

.basket {
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;

	text-align: center;
}

.popap-basket {
	background-color: #ffffff;

	box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);
}

.popap-basket p {
	font-size: 30px;
	line-height: 30px;

	background-image: url("../img/icon-mark.svg");
	background-repeat: no-repeat;
}

.logo-head {
  	background-color: #ee3643;

  	box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);

  	width: 220px;
  	height: 47px;
  	margin-left: 130px;
}

.logo-head:hover {
	background-color: #ca2c37;
}

.logo-head:active {
	background-color: #ba2732;
}

.head-menu {
	background-color: #293449;
}

.head-menu {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.head-menu a {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.head-menu .bookmarks:hover,
.head-menu .basket:hover {
	background-color: #212a3a;
}

.checkout {
	background-color: #63a63e;

	margin-right: 130px;
}

.head-menu .checkout:hover {
	background-color: #5fbb2d;
}

.head-menu .checkout:active,
.head-menu .bookmarks:active,
.head-menu .basket:active {
	opacity: 0.5;
}

.head-menu p:focus {
	background-color: #ffffff;
} 

.main-info {
	display: flex;
}

.icon-search {
	color:#ffffff;

	background-image: url("../img/icon-search.svg");
	background-repeat: no-repeat;

	width: 270px;
}

.description {
	font-size: 16px;
	line-height: 23px;

	font-style: italic;
	color: #ee3643;
}

.phone-number {
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;

	font-size: 21px;
	line-height: 21px;

	color: #ee3643;

	width: 270px;
	height: 45px;
}

.phone-number {
	border: 3px solid;
	padding: 10px;
	border-color: #ffffff;
}

.address-head {
	font-size: 14px;
	line-height: 24px;

	color: #32425c
}

.button-head {
	font-size: 21px;
	line-height: 21px;

	color: #000000;
	background-color: #ffffff; 
}

.button-logout {
	background-image: url("../img/icon-logout.svg");
	background-repeat: no-repeat;
}

.button-head:hover {
	color: #ee3643;
}

.button-head:active {
	color: #000000;

	opacity: 0.3;
} 

.navigation-menu {
	background-color: #32425c;
	box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
}

.navigation-menu a {
	color: #ffffff;
}

.navigation-menu a:hover {
	background-color: #293449;
}

.navigation-menu a:active {
	opacity: 0.5;
}

.navigation-list {
	display: flex;
	justify-content: space-around;

	list-style: none;
}

.users {
	background-color: #ffffff;
}

.users-name {
	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-image: url("../img/icon-user.svg");
	background-repeat: no-repeat;
}

.account-exit {
	background-image: url("../img/icon-logout.svg");
	background-repeat: no-repeat;
}

.users-order,
.users-account {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}

.users a:hover {

}

.users a:active,
.users-order:active,
.users-account:active {
	opacity: 0.3;
}

.menu-sliders {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
}

.menu-sliders {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	margin-top: 120px;
}

.menu-sliders li {
	width: 300px;
	height: 123px;
	margin-top: 20px;
	margin-right: 20px;
	padding: 0;
}

.menu-sliders a {
	color: #ffffff;
}

.menu-sliders h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;

	text-transform: uppercase;
}

.materials {
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-color: #ffbf47;
}

.materials a {
	background-color: #f6b22d;
	background-color: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}

.materials a:hover {
	background-color: #f6b22d;
	background-color: rgba(0, 0, 0, 0.2);
}

.materials a:active {
	background-color: #f6b22d;
	background-color: rgba(0, 0, 0, 0.3);
}

.tools {
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-color: #3bbce3;
}

.tools a {
	background-color: #35a9cc;
	text-transform: uppercase;
}

.tools a:hover {
	background-color: #35a9cc;
	background-color: rgba(0, 0, 0, 0.2);
}

.tools a:active {
	background-color: #35a9cc;
	background-color: rgba(0, 0, 0, 0.3);
}

.technics {
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-color: #dc91d8;
}

.technics a {
	background-color: #c682c2;
	text-transform: uppercase;
}

.technics a:hover {
	background-color: #c682c2;
	background-color: rgba(0, 0, 0, 0.2);
}

.technics a:active {
	background-color: #c682c2;
	background-color: rgba(0, 0, 0, 0.3);
}

.sales {
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-color: #8ed78f;
}

.sales a {
	background-color: #80c180;
	text-transform: uppercase;
}

.sales a:hover {
	background-color: #80c180;
	background-color: rgba(0, 0, 0, 0.2);
}

.sales a:active {
	background-color: #80c180;
	background-color: rgba(0, 0, 0, 0.3);
}

.delivery {
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: top right;
	background-color: #ffc047;
}

.delivery a {
	background-color: #e5ac40;
	text-transform: uppercase;
}

.delivery a:hover {
	background-color: #e5ac40;
	background-color: rgba(0, 0, 0, 0.2);
}

.delivery a:active {
	background-color: #e5ac40;
	background-color: rgba(0, 0, 0, 0.3);
}


.slider-drill {
	background-image: url("../img/photo_index1.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #b9a896;
}

.slider-drill h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.slider-drill p {
	font-size: 18px;
	line-height: 24px;
	text-transform: none;
}

.slider-perforator {
	background-image: url("../img/photo_index2.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #b9a896;
}

.slider-perforator h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.slider-perforator p {
	font-size: 18px;
	line-height: 24px;
	text-transform: none;
}

.catalog-title {
	font-size: 13px;
	line-height: 18px;
	
	text-transform: uppercase;
}

.catalog-title a {
	color: #000000;
}

.catalog-title ul {
	list-style: none;
}

.catalog-title-home {
	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
}

.h1-catalog {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;

	text-transform: uppercase;

	background-color: #f2f6f8;
}

.filter-sorting-title {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;

	text-transform: uppercase;

	background-color: #f7f3ec;
}

.filter-catalog legend {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;

	text-transform: uppercase;
}

.filter-catalog ul {
	list-style: none;
}

.filter-catalog fieldset {
	border: none;
}

.filter-range {
	background-color: #f7f3ec;
}

.filter-fabricator label,
.filter-power label {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;

	text-transform: uppercase;
}

.filter-input:focus + label {
	
}

.filter-input:disabled {
	opacity: 0.4;
}

.sorting-catalog ul {
	list-style: none;
}

.sorting-type a {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: underline dashed #ee3643;
	color: #b2b2b2;

	background-color: #f7f3ec;
}

.sorting-type a:hover {
	color: #000000;
}

.sorting-type a:active {
	color: #ee3643;
	text-decoration: none;
}

.sorting-ascending {
	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
}

.sorting-descending {
	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;
}

.popular-headline {
	background-color: #f9f5f0;
}

.popular-headline {
	display: flex;
	justify-content: space-between;

	margin-top: 53px;
}

.popular-headline h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.popular-products,
.products {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
}

.popular-products ul,
.products ul {
	display: flex;
	
	margin: 0;
	padding: 0;

	list-style: none;
}

.popular-products li,
.products li {
	background-color: #ffffff;
	
	border: 1px solid;
	border-color: #e5e5e5;

	width: 220px;
	height: 318px;

	margin-top: 20px;
	margin-right: 20px;
}

.popular-products li:hover,
.products li:hover {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
} 

.popular-products del,
.products del {
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
}

.popular-products ins,
.products ins {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;

	background-color: #ee3643;
}

.popular-fabricators ul {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.popular-fabricators li {
	list-style: none;
	background-color: #ffffff;
	
	border: 1px solid;
	border-color: #e5e5e5;

	width: 220px;
	height: 145px;

	margin-right: 20px;
	margin-top: 20px;
}

.popular-fabricators li:nth-child(4n) {
	margin-right: 0;
}

.popular-fabricators li:hover {
	border: 1px solid;
	border-color: #e5e5e5;
	box-shadow: 0px 5px 25px 0px rgba(41, 52, 73, 0.5);
} 

.popular-fabricators li:active {
	opacity: 0.3;
} 

.services {
	font-size: 13px;
	line-height: 24px;
}

.services ul {
	list-style: none;
}

.services {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;

	margin-left: 130px;
	margin-top: 84px;
}

.services-item {
	display: flex;
}

.services h2 {
	font-size: 30px;
	line-height: 30px;

	text-transform: uppercase;
}

.services a {
	color: #ffffff;
}

.services a:hover,
.credit-link:hover {
	background-color: #293449;
}

.services a:active,
.credit-link:active {
	color: #32425c;

	background-color: #ffffff;
}


.services ul {
	list-style: none;
}

.services-delivery {
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;
}

.services a {
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;

	background-color: #32425c;
}

.services-guarantee {
	background-image: url("../img/guarantee.png");
	background-repeat: no-repeat;
}

.services-credit {
	background-image: url("../img/credit.png");
	background-repeat: no-repeat;
}

.credit-link{
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;

	background-color: #32425c;
}

.article-bg {
	background-color: #f2f6f8;
}

.services h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
}

.services-info {
	display: flex;
	justify-content: space-between;

	margin-bottom: 86px;
}

.feature {
	width: 535px;
}

.contacts {
	width: 300px;
}

.feature h2,
.contacts h2,
.perforator-article h2 {
	font-size: 30px;
	line-height: 30px;

	text-transform: uppercase;
}

.feature p,
.contacts p,
.perforator-article p {
	font-size: 13px;
	line-height: 24px;
}

.feature li {
	font-size: 18px;
	line-height: 20px;
}

.popap-feedback {
	background-color: #ffffff;
	box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);

	border-top: 7px solid;
	border-top-color: #ff5357;

	width: 620px;
	height: 430px;
	margin-left: 289px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.popap-feedback-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.popap-feedback-name {
	margin: 0;
	padding: 0;

	padding-left: 80px;
	padding-top: 52px;
	padding-right: 22px;
}

.popap-feedback-name input {
	width: 220px;
	height: 38px;
}

.popap-feedback-e-mail {
	padding-top: 52px;
}

.popap-feedback-e-mail input {
	width: 220px;
	height: 38px;
}

.popap-feedback-letter {
	margin-left: 81px;
	margin-top: 22px;
}

.popap-feedback-letter textarea {
	width: 460px;
	height: 114px;
}

.button-popap .button {
	width: 460px;
	margin-left: 81px;
	margin-top: 75px;
}

.button-submit {
	background-color: #f4f4f4;
}

.popap-feedback ul {
	list-style: none;
}

.popap-feedback label{
	font-size: 18px;
	line-height: 18px;
}

.popap-feedback input[placeholder],
.popap-feedback textarea[placeholder] {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.footer-menu {
	display: flex;
	flex-wrap: wrap;

	font-size: 18px;
	line-height: 24px;
	color: #ffffff;

	background-color: #32425c;
}

.footer-menu ul {
	list-style: none;
}

.footer-menu a {
	color: #ffffff;
}

.footer-menu-item a {
	color: #ffd180;
}

.footer-menu-main a:hover,
.footer-menu-item a:hover {
	text-decoration: underline;
}

.footer-menu-main a:active,
.footer-menu-item a:active {
	text-decoration: none;

	opacity: 0.5;
}

.footer-menu-main ul {
	display: flex;
	justify-content: space-between;

	width: 550px;
	margin-left: 170px;
	margin-right: 130px;
}

.footer-menu-item ul {
	display: flex;
	justify-content: space-between;

	margin-left: 65px;
	margin-right: 130px;
}

.address-footer {
	margin-left: 130px;
}

.logo-footer {
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);

	width: 220px;
	height: 68px;

	margin-left: 130px;
}

.footer {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

	background-color: #293449;
}

.footer {
	display: flex;
	justify-content: space-between;

}

.rights-footer {
	margin-left: 130px;
}

.network-footer {
	margin-left: 159px;
	margin-right: 118px;
}

.developer-footer {
	margin-right: 130px;
}

.footer ul {
	list-style: none;
}


.facebook {
	background-image: url("../img/icon-fb.svg");
	background-repeat: no-repeat;
	background-color: #212a3a;

	font-size: 0;
}

.instagram {
	background-image: url("../img/icon-insta.svg");
	background-repeat: no-repeat;
	background-color: #212a3a;
}

.vkontakte {
	background-image: url("../img/icon-vk.svg");
	background-repeat: no-repeat;
	background-color: #212a3a;
}

.facebook:hover,
.instagram:hover,
.vkontakte:hover {
	background-color: #ee3643;
}

.facebook:active,
.instagram:active,
.vkontakte:active {
	background-color: #ee3643;
}

.developer-footer a {
	color: #ffd180;
}

.developer-footer a:hover {
	text-decoration: underline;
}

.developer-footer a:active {
	color: #ee3643;

	text-decoration: none;
}
