body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	color: #000000; 

  	background-color: #ffffff;

  	box-sizing: border-box;

  	/*background-image: url("../img/technomart-catalog.jpg");
  	background-repeat: no-repeat;
  	background-position: top center;*/
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visualy-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 940px;
	margin: 0 auto;
	width: 100%;
}

.header-background {
	background-color: #f3f7f8;

	padding-bottom: 58px;
}

.button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;

	padding-top: 11px;
	padding-left: 50px;
	padding-right: 46px;
	padding-bottom: 9px;

	border-radius: 4px;

	background-color: #ee3643;
}

.button:hover {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.button-catalog {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #000000;

	border-radius: 4px;

	text-transform: uppercase;

	background-color: #ffffff;

	border: 1px solid;
	border-color: #e5e5e5;
}

.button-catalog:hover {
	border-color: #bdc6ca;
}

.button-catalog:active {
	border-color: #ee3643;
}

.button-page-style li {
	margin-top: 42px;
	margin-bottom: 58px;
	margin-right: 10px;
}

.button-page-style a {
	display: inline-block;

	text-align: center;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 16px;
	padding-right: 15px;

	border-radius: 4px;
}
.button-catalog:first-child {
	margin-left: 10px;
}

.button-page-current {
	border: 0;

	background-color: #ee3643;
}

.button-page-current a {
	color: #ffffff;
}

.button-buy {
	position: absolute;

	top: 43px;
	left: 41px;

	width: 135px;
	height: 38px;

	text-align: center;

	padding-top: 10px;
	padding-left: 18px;

	box-shadow: 0px -3px 0px 0px rgba(54, 115, 21, 1) inset;

	border-radius: 4px;

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #63a63e;

	display: none;
}

.button-buy::before {
	content: '';

	position: absolute;

	left: 13px;
	top: 11px;

	width: 15px;
	height: 15px;

	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
}

.button-buy:hover {
	background-color: #5fbb2d;
}

.button-buy:active {
	background-color: #518534;
}

.button-bookmarks {
	position: absolute;

	left: 41px;
	top: 89px;

	width: 135px;
	height: 38px;

	padding-top: 7px;

	text-align: center;

	border-radius: 4px;

	font-size: 14px;
	line-height: 18px;
	color: #32425c;
	text-transform: uppercase;

	border: 3px solid;
	border-color: #63a63e;

	display: none;
}

.button-bookmarks:hover {
	border-color: #32425c;
}

.button-bookmarks:active {
	opacity: 0.3;
}

.head-menu-color {
	background-color: #293449;
}

.head-menu {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.head-menu a {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.logo-head a {
	display: block;

	position: relative;

	padding-top: 14px;
	padding-left: 55px;
	margin-bottom: -5px;

  	background-color: #ee3643;

  	box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);

  	width: 220px;
  	min-height: 47px;
}

.logo-head a:hover {
	background-color: #ca2c37;
}

.logo-head a:active {
	background-color: #ba2732;
}

form.search {
	position: relative;
}

.search {
	margin: 0;
	padding: 0;
}

.search input {
	background-color: #293449;
	border: 0;

	margin-left: 47px;

	width: 223px;
	height: 43px;
}

.search button {
	position: absolute;

	left: 0px;

	padding-top: 13px;
	padding-bottom: 13px;
	padding-right: 14px;
	padding-left: 16px;

	font-size: 0;

	background-color: transparent;
	border: 0;

	cursor: pointer;
}

.search svg {
	opacity: 0.3;
}

.search input::-webkit-input-placeholder {
	color: #ffffff;
}

.search input::-moz-placeholder {
	color: #ffffff;
}

.search input:-ms-input-placeholder {
	color: #ffffff;
}

.search input::-ms-input-placeholder {
	color: #ffffff;
}

.search input::placeholder {
	color: #ffffff;
}

.search input:focus {
	padding-left: 0px;

	background-color: #ffffff;
	border: 0;

	color: #000000;
}

.search input:focus {
	outline: none;
}

.search input:focus + button {
	background-color: #ffffff;
}

.search input:focus + button path {
	fill: #f15661;
}

.search button:hover svg {
	opacity: 1;
}

.bookmarks,
.basket {
	display: inline-block;
	position: relative;

	margin: 0;
	padding: 0;

	padding-top: 13px;
	padding-bottom: 12px;
}

.bookmarks {
	padding-left: 44px;
	padding-right: 28px;
}

.bookmarks::before {
	content: '';

	position: absolute;
	
	width: 16px;
	height: 16px;

	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;

	opacity: 0.3;

	left: 17px;
}

.basket {
	padding-left: 49px;
	padding-right: 28px;
}

.basket::before {
	content: '';

	position: absolute;
	
	width: 16px;
	height: 16px;

	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;

	opacity: 0.3;

	left: 18px;
}

.bookmarks:hover,
.basket:hover {
	background-color: #212a3a;
}

.bookmarks:hover::before,
.basket:hover::before {
	opacity: 1;
}

.checkout {
	background-color: #63a63e;
	flex-grow: 1;

	margin: 0;
	padding: 0;

	display: inline-block;
	position: relative;

	padding-top: 13px;
	padding-bottom:12px;
	padding-left: 23px;
}

.checkout:hover {
	background-color: #5fbb2d;
}

.checkout:active,
.bookmarks:active,
.basket:active {
	opacity: 0.6;
}

.head-menu p:focus {
	background-color: #ffffff;
} 

.main-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;

	margin-top: 33px;
}

.description {
	font-size: 16px;
	line-height: 23px;

	margin: 0;
	padding: 0;

	width: 210px;
	margin-left: 52px;
	margin-top: 16px;

	font-style: italic;
	color: #ee3643;
}

.header-address {
	display: flex;
	flex-direction: column;
}

.header-address p {
	font-size: 14px;
	line-height: 24px;

	margin: 0;
	padding: 0;

	margin-left: 68px;
	margin-top: 4px;

	color: #32425c;
}

.phone-number {
	display: inline-block;
	position: relative;
	text-align: center;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	width: 270px;
	height: 45px;

	margin-left: 58px;
	margin-top: 13px;

	border: 3px solid;
	padding: 10px;
	border-color: #ffffff;
}

.phone-number {
	padding-left: 32px;
}

.phone-number::before {
	content: '';
	position: absolute;

	left: 12px;

	width: 19px;
	height: 19px;

	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
}

.button-head a {
	display: inline-block;
	position: relative;

	left: 69px;

	font-size: 21px;
	line-height: 21px;

	margin: 0;
	padding: 0;

	padding-top: 12px;
	padding-bottom: 12px;

	margin-top: 13px;

	color: #000000;
	background-color: #ffffff; 
}

.button-head .button-logout {
	padding-left: 47px;
	padding-right: 26px;
}

.button-head svg {
	position: absolute;

	top: 14px;
	left: 14px;
} 

.button-head .registration {
	margin-left: 6px;
	padding-left: 24px;
	padding-right: 24px;
}

.button-head a:hover {
	color: #ee3643;
}

.button-logout:hover path {
	fill: #32425c;
}

.button-head a:active {
	color: #000000;

	opacity: 0.3;
} 

.navigation-menu {
	margin-top: 39px;
}

.navigation-menu {
	background-color: #32425c;
	box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);

	padding-top: 21px;
	padding-bottom: 23px
}

.navigation-menu a {
	color: #ffffff;
}

.navigation-menu a:hover {
	background-color: #293449;
}

.navigation-menu a:active {
	opacity: 0.5;
}

.navigation-menu ul {
	display: flex;
	justify-content: center;

	list-style: none;

	margin: 0;
	padding: 0;
}

.navigation-menu a {
	padding-top: 19px;
	padding-bottom: 21px;
	padding-left: 30px;
	padding-right: 30px;
}

.users-block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.users {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	margin-left: 51px;
	margin-top: 12px;

	padding-left: 16px;

	background-color: #ffffff;

	opacity: 0.7;
}

.users-name {
	position: relative;

	font-size: 21px;
	line-height: 21px;
	color: #000000;
	white-space: nowrap;

	padding-right: 20px;
	padding-left: 30px;
	padding-bottom: 12px;
	padding-top: 12px;
}

.users-name svg {
	content: '';

	position: absolute;

	top: 13px;
	left: -3px;

	width: 20px;
	height: 18px;

	background-image: url("../img/icon-user.svg");
	background-repeat: no-repeat;
}

.account-exit {
	position: relative;

	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 18px;
	padding-left: 32px;

	font-size: 0;
}

.account-exit svg {
	content: '';

	position: absolute;

	top: 22px;
	right: 1px;

	transform: translate(-50%, -50%);

	width: 20px;
	height: 17px;

	background-image: url("../img/icon-logout.svg");
	background-repeat: no-repeat;
}

.users-link {
	position: relative;
}

.users-link a::after {
	content: '';

	position: absolute;

	left: 88px;
	top: 7px;

	width: 4px;
	height: 4px;

	border-radius: 50px;

	background-color: #32425c;
}

.users-name:hover path,
.account-exit:hover path {
	fill: #32425c;
}

.users a:active {
	opacity: 0.3;
}

.users-link {
	display: flex;

	margin-left: 70px;
	margin-top: 7px;
}

.users-link a {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;

	padding-right: 30px;
}

.users-link a:hover {
	color: #ee3643;
}

.users-link a:active {
	opacity: 0.3;

	color: #32425c;
}

.menu-sliders {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;

	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	margin-top: 61px;
}

.menu-sliders a {
	color: #ffffff;
}

.menu-sliders h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.first-line-sliders {
	display: flex;
}

.second-line-sliders {
	display: flex;
	flex-direction: column;
}

.menu-sliders .technics,
.menu-sliders .sales,
.menu-sliders .delivery,
.second-line-sliders {
	margin-right: 0;
}

.slider-block-small {
	display: inline-block;
	position: relative;

	width: 300px;
	height: 123px;

	margin-right: 20px;

	overflow: hidden;
}

.materials {
	background-color: #ffbf47;
}

.materials h3::after {
	content: '';
	position: absolute;

	width: 44px;
	height: 65px;

	right: -121px;
	top: 10px;

	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: top right;
}

.materials h3 {
	position: absolute;

	left: 23px;
	top: -3px;
}

.materials a {
	position: absolute;

	background-color: #f6b22d;
	background-color: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 24px;
	padding-right: 24px;

	left: 25px;
	bottom: 21px;

	border-radius: 3px;
}

.materials a:hover {
	background-color: #f6b22d;
	background-color: rgba(0, 0, 0, 0.2);
}

.materials a:active {
	background-color: #f6b22d;
	background-color: rgba(0, 0, 0, 0.3);
}

.tools {
	background-color: #3bbce3;
}

.tools h3::after {
	content: '';
	position: absolute;

	width: 75px;
	height: 61px;

	right: -133px;
	top: 12px;

	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: top right;
}

.tools h3 {
	position: absolute;

	left: 23px;
	top: -3px;
}

.tools a {
	position: absolute;

	background-color: #35a9cc;
	text-transform: uppercase;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 27px;
	padding-right: 27px;

	left: 25px;
	bottom: 21px;

	border-radius: 3px;
}

.tools a:hover {
	background-color: #35a9cc;
	background-color: rgba(0, 0, 0, 0.2);
}

.tools a:active {
	background-color: #35a9cc;
	background-color: rgba(0, 0, 0, 0.3);
}

.technics {
	background-color: #dc91d8;
}

.technics h3::after {
	content: '';
	position: absolute;

	width: 78px;
	height: 62px;

	right: -168px;
	top: 10px;

	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: top right;
}

.technics h3 {
	position: absolute;

	left: 23px;
	top: -3px;
}

.technics a {
	position: absolute;

	background-color: #c682c2;
	text-transform: uppercase;

	padding-top: 11px;
	padding-bottom: 10px;
	padding-left: 31px;
	padding-right: 30px;

	left: 23px;
	bottom: 21px;

	border-radius: 3px;
}

.technics a:hover {
	background-color: #c682c2;
	background-color: rgba(0, 0, 0, 0.2);
}

.technics a:active {
	background-color: #c682c2;
	background-color: rgba(0, 0, 0, 0.3);
}

.sales {
	margin-top: 20px;

	background-color: #8ed78f;
}

.sales h3::after {
	content: '';
	position: absolute;

	width: 59px;
	height: 72px;

	right: -116px;
	top: 5px;

	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: top right;
}

.sales h3 {
	position: absolute;

	left: 22px;
	top: -3px;
}

.sales a {
	position: absolute;

	background-color: #80c180;
	text-transform: uppercase;

	padding-top: 11px;
	padding-bottom: 10px;
	padding-left: 23px;
	padding-right: 24px;

	left: 23px;
	bottom: 21px;

	border-radius: 3px;
}

.sales a:hover {
	background-color: #80c180;
	background-color: rgba(0, 0, 0, 0.2);
}

.sales a:active {
	background-color: #80c180;
	background-color: rgba(0, 0, 0, 0.3);
}

.delivery {
	margin-top: 20px;

	background-color: #ffc047;
}

.delivery h3::after {
	content: '';
	position: absolute;

	width: 78px;
	height: 63px;

	right: -158px;
	top: 11px;

	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: top right;
}

.delivery h3 {
	position: absolute;

	left: 22px;
	top: -3px;
}

.delivery a {
	position: absolute;

	background-color: #e5ac40;
	text-transform: uppercase;

	padding-top: 11px;
	padding-bottom: 9px;
	padding-left: 37px;
	padding-right: 37px;

	left: 23px;
	bottom: 22px;

	border-radius: 3px;
}

.delivery a:hover {
	background-color: #e5ac40;
	background-color: rgba(0, 0, 0, 0.2);
}

.delivery a:active {
	background-color: #e5ac40;
	background-color: rgba(0, 0, 0, 0.3);
}

.slider-block-big {
	display: inline-block;
	position: relative;

	margin-right: 20px;
	margin-top: 20px;

	width: 620px;
	height: 266px;
}

.slider-drill {
	background-image: url("../img/photo_index1.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #b9a896;
}

.slider-drill .button {
	position: absolute;

	left: 25px;
	bottom: 22px;
}

.slider-drill .button-forward {
	position: absolute;

	width: 22px;
	height: 40px;

	right: 20px;
	top: 114px;

	font-size: 0;
}

.slider-drill .button-back {
	position: absolute;

	width: 22px;
	height: 40px;

	left: 25px;
	top: 114px;

	font-size: 0;
}

.slider-drill h3 {
	position: absolute;

	left: 24px;
	top: -13px;

	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.slider-drill p {
	font-size: 18px;
	line-height: 24px;
	text-transform: none;

	margin: 0;
	padding: 0;

	padding-top: 61px;
	padding-left: 25px;
}

.slider-perforator {
	background-image: url("../img/photo_index2.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #b9a896;

	display: none;
}

.slider-perforator h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.slider-perforator p {
	font-size: 18px;
	line-height: 24px;
	text-transform: none;
}

/*.slider-show {
	display: block;
}

.sliders-hide {
	display: none;
}*/

.materials .new-item {
	content: '';

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;

	display: inline-block;

	position: absolute;

	transform: rotate(45deg);

	right: -25px;
	top: 7px;

	width: 90px;
	height: 27px;

	background-color: #ee3643;
}

.catalog-title {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	
	text-transform: uppercase;
}

.catalog-title a {
	color: #000000;
}

.catalog-title ul {
	display: flex;

	margin: 0;
	padding: 0;

	margin-top: 21px;

	list-style: none;
}

.catalog-title li {
	position: relative;
}

.catalog-title li:nth-child(-n+3) {
	padding-right: 43px;
}

.catalog-title li:nth-child(-n+3)::after {
	content: '';

	position: absolute;

	width: 8px;
	height: 12px;

	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
}

.catalog-title li:nth-child(1)::after {
	right: 20px;
}

.catalog-title li:nth-child(2)::after {
	right: 11px;
}

.catalog-title li:nth-child(3)::after {
	right: 15
}

.catalog-title li:nth-child(3) {
	padding-left: 16px;
}

.catalog-title-home {
	font-size: 0;
}

.catalog-title-home img {
	margin-left: -2px;
}

.h1-catalog {
	display: flex;

	margin: 0;
	padding: 0;

	font-size: 30px;
	line-height: 30px;
	color: #32425c;

	margin-top: 16px;

	padding-top: 30px;
	padding-bottom: 29px;
	padding-left: 28px;

	text-transform: uppercase;

	background-color: #f2f6f8;
}

.filter-title-block {
	display: flex;
	align-items: flex-start;

	margin-top: 18px;
}

.filter-title-block h3 {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;

	text-transform: uppercase;

	border-radius: 4px;

	margin: 0;
	padding: 0;

	margin-right: 20px;

	padding-top: 11px;
	padding-right: 146px;
	padding-left: 18px;
	padding-bottom: 9px;

	background-color: #f7f3ec;
}

.sorting-catalog h3 {
	margin-right: 0;

	background-color: transparent;

	padding-right: 130px;
}

.sorting-catalog {
	display: flex;
	align-items: flex-start;

	width: 100%;

	border-radius: 4px;

	background-color: #f7f3ec;
}

.sorting-catalog ul {
	display: flex;

	list-style: none;

	margin: 0;
	padding: 0;
}

.sorting-type a {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: underline dashed #ee3643;
	color: #b2b2b2;
}

.sorting-type ul {
	margin-left: 0;
}

.sorting-type li {
	display: inline-block;

	margin-right: 62px;

	padding-top: 11px;
	padding-bottom: 9px;
}

.sorting-type a:hover {
	color: #000000;
	text-decoration: underline solid #ee3643;
}

.sorting-type a:active {
	color: #ee3643;
	text-decoration: none;
}

.sorting-button li {
	position: relative;

	font-size: 0;
}

.sorting-ascending {
	display: block;

	position: absolute;

	top: 9px;
	right: 8px;

	padding: 5px;
}

.sorting-descending {
	display: block;

	position: absolute;

	top: 9px;
	right: -23px;

	padding: 5px;
}

.sorting-button path {
	opacity: 0.3;
}

.sorting-ascending:hover path,
.sorting-descending:hover path {
	opacity: 1;
}

.sorting-ascending:active path,
.sorting-descending:active path {
	fill: #ee3643;
}

.filter-catalog legend {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;

	padding-bottom: 12px;

	text-transform: uppercase;
}

.filter-catalog ul {
	list-style: none;
}

.filter-catalog fieldset {
	margin: 0;
	padding: 0;

	margin-top: 14px;

	width: 220px;

	border: none;
	border-bottom: 1px solid #e5e5e5;
}

.range-controls {
  position: relative;

  padding-top: 39px;
  padding-right: 20px;
  padding-bottom: 39px;
  padding-left: 20px;

  background-color: #f7f3ec;
  margin-bottom: 10px;

  border-radius: 4px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(0, 0, 0, 0.1);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #00ca74;
}

.range-toggle {
	position: absolute;
	top: 30px;

	width: 20px;
	height: 20px;

	background: #b1b1b1;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 15px;
}

.range-toggle-max {
  left: 70%;
}

.price-controls {
	position: relative;
}

.price-controls input {
  	width: 95px;
  	height: 38px;

  	margin: 0;

  	margin-bottom: 25px;

 	text-align: center;

	color: inherit;
	font: inherit;

	background: none;
	border: none;

	border-radius: 4px;

	background-color: #f7f3ec;
}

.min-price input {
	margin-right: 8px;
}

.max-price input {
	margin-left: 7px;
}


.catalog-main-block {
	display: flex;
}

fieldset.filter-fabricator {
	margin-top: 17px;
}

.filter-fabricator ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-fabricator li {
	margin-bottom: 21px;

	padding-left: 34px;
}

.filter-fabricator label {
	display: block;

	position: relative;

	cursor: pointer;
	user-select: none;
}

.filter-fabricator input + label::before {
	content: '';

	position: absolute;

	left: -34px;
	top: -2px;

	width: 23px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-fabricator input:checked + label::before {
	background-image: none;
}

.filter-fabricator input:checked + label::after {
	content: '';

	position: absolute;

	left: -34px;
	top: -2px;

	width: 27px;
	height: 23px;

	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

fieldset.filter-power {
	margin-top: 17px;
}

.filter-power ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-power li {
	margin-bottom: 21px;

	padding-left: 34px;
}

.filter-power label {
	display: block;

	position: relative;

	cursor: pointer;
	user-select: none;
}

.filter-power input + label::before {
	content: '';

	position: absolute;

	left: -35px;
	top: -3px;

	width: 25px;
	height: 25px;

	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-power input:checked + label::before {
	background-image: none;
}

.filter-power input:checked + label::after {
	content: '';

	position: absolute;

	left: -35px;
	top: -3px;

	width: 25px;
	height: 25px;

	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-fabricator label,
.filter-power label {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;

	text-transform: uppercase;
}

.filter-input:hover::before {
	color: : #b5b5b5;
}

.filter-input:disabled {
	opacity: 0.4;
}

.filter-catalog .button-catalog {
	margin-top: 55px;

	text-align: center;

	background-color: transparent;

	padding-top: 15px;
	padding-right: 39px;
	padding-bottom: 14px;
	padding-left: 39px;

	cursor: pointer;
}

.popular-headline-products {
	background-color: #f9f5f0;
}

.popular-headline-products {
	display: flex;
	justify-content: space-between;

	position: relative;

	margin-top: 53px;
	margin-bottom: 10px;
}

.popular-headline-products h2 {
	padding: 0;
	margin: 0;

	padding-left: 28px;
	padding-top: 30px;
	padding-bottom: 20px;

	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.popular-headline-products a {
	position: absolute;

	right: 24px;
	top: 25px;

	padding-left: 55px;
	padding-right: 54px;

	margin: auto;
}

.products h3 {
	position: relative;

	margin: 0;
	padding: 0;

	margin-top: 8px;

	text-align: center;
}

.catalog-item-block ul {
	margin: 0;
	padding: 0;

	list-style: none;

	display: flex;
	flex-wrap: wrap;
}

.catalog-item-block .products {
	margin: 10px;
}

.catalog-item-block .products:nth-child(3n+3) {
	margin-right: 0;
}

.products {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
}

.popular-products ul,
.catalog-item-block {
	display: flex;
	flex-wrap: wrap;
	
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-item-block {
	margin-left: 10px;
	margin-top: 12px;
}

.products article {
	background-color: #ffffff;
	
	position: relative;

	border: 1px solid;
	border-color: #e5e5e5;

	margin: 0;
	padding: 0;

	width: 220px;
	height: 318px;

	overflow: hidden;

	margin-top: 19px;
	margin-right: 20px;
}

.products:last-child article {
	margin-right: 0;
}

.products .new-item {
	content: '';

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;

	display: inline-block;

	position: absolute;

	transform: rotate(45deg);

	right: -26px;
	top: 7px;

	width: 90px;
	height: 24px;

	background-color: #ee3643;
}

.catalog-item-block article {
	margin: 0;
}

.products article:hover {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
} 

.products article:hover img {
	opacity: 0;
} 

.products article:hover a {
	display: inline-block;
} 

.products del {
	position: absolute;
	
	left: 78px;
	bottom: 67px;

	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
}

.products ins {
	position: absolute;

	left: 42px;
	bottom: 20px;

	padding-top: 11px;
	padding-right: 22px;
	padding-bottom: 9px;
	padding-left: 36px;
	
	border-radius: 4px;

	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;

	background-color: #ee3643;
}

ins::after {
	content: '';
	position: absolute;

	right: -18px;
	bottom: 0px;

	width: 0; 
	height: 0;
	border-top: 18px solid ;
	border-left: 20px solid #ee3643;
	border-bottom: 19px solid;
}

.popular-headline-fabricators {
	background-color: #f9f5f0;
}

.popular-headline-fabricators {
	display: flex;
	justify-content: space-between;

	position: relative;

	margin-top: 21px;
	margin-bottom: 19px;
}

.popular-headline-fabricators h2 {
	padding: 0;
	margin: 0;

	padding-left: 28px;
	padding-top: 30px;
	padding-bottom: 20px;

	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.popular-headline-fabricators a {
	position: absolute;

	right: 24px;
	top: 25px;

	padding-left: 69px;
	padding-right: 68px;
	padding-top: 10px;
	padding-bottom: 10px;

	margin: auto;
}

.popular-fabricators ul {
	list-style: none;

	display: flex;
	flex-wrap: wrap;

	margin: 0 -10px;
	padding: 0;
}

.popular-fabricators a {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ffffff;
	width: 220px;
	height: 145px;
	
	border: 1px solid;
	border-color: #e5e5e5;

	margin: 10px;
}

.popular-fabricators a:hover {
	border: 1px solid;
	border-color: #e5e5e5;
	box-shadow: 0px 5px 25px 0px rgba(41, 52, 73, 0.5);
} 

.popular-fabricators a:active {
	opacity: 0.3;
} 

.article-bg-index {
	background-color: #f2f6f8;

	padding-bottom: 97px;
}

.article-bg-catalog {
	background-color: #f2f6f8;

	padding-bottom: 68px;
}

.perforator-article h2 {
	margin: 0;
	padding: 0;

	padding-top: 65px;
	padding-bottom: 28px;
}

.perforator-article p {
	display: flex;

	margin: 0;
	padding: 0;
}

.services {
	font-size: 13px;
	line-height: 24px;

	padding-top: 66px;

	margin-top: 75px;
}

.services ul {
	list-style: none;

	margin: 0;
	padding: 0;
}

.services {
	display: flex;
	flex-direction: column;
}

.services-item {
	position: relative;

	display: flex;

	margin-top: 56px;
}

.servises-link a {
	display: inline-block;

	width: 100%;

	font-size: 21px;
	line-height: 30px;
	font-weight: 700;

	margin-bottom: 1px;

	padding-top: 14px;
	padding-right: 140px;
	padding-bottom: 17px;
	padding-left: 22px;

	background-color: #32425c;
	box-shadow: 0px 1px 0px 0px rgba(41, 52, 73, 1), 0px 1px 0px 0px rgba(64, 80, 105, 1) inset;
}

.servises-link a:hover {
	background-color: #293449;
}

.servises-link a:active {
	color: #32425c;

	background-color: #ffffff;

	box-shadow: none;
}

.services-item:after {
	content: '';

	position: absolute;

	left: 230px;
	top: -38px;

	width: 10px;
	height: 279px;

	background-image: url("../img/services-shadow.png");
	background-repeat: no-repeat;
}

.services h2 {
	font-size: 30px;
	line-height: 30px;

	text-transform: uppercase;

	margin: 0;
	padding: 0;

	margin-bottom: 13px;
}

.services a {
	color: #ffffff;
}

.services ul {
	list-style: none;
}

.services-delivery {
	display: inline-block;

	position: relative;
}

.services-delivery p {
	margin: 0;
	padding: 0;

	width: 250px;

	margin-left: 80px;
	margin-top: 25px;
}

.services-delivery p::after {
	content: '';

	position: absolute;

	width: 468px;
	height: 261px;

	top: 22px;
	left: 231px;

	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;
}

.services-guarantee {
	display: inline-block;

	position: relative;
}

.services-guarantee p {
	margin: 0;
	padding: 0;

	width: 388px;

	margin-left: 79px;
	margin-top: 25px;
}

.services-guarantee p::after {
	content: '';

	position: absolute;

	width: 389px;
	height: 283px;

	top: 0px;
	left: 317px;

	background-image: url("../img/guarantee.png");
	background-repeat: no-repeat;
}

.services-credit {
	display: inline-block;

	position: relative;

	margin-left: -3px;
}

.services-credit p {
	margin: 0;
	padding: 0;

	width: 388px;

	margin-left: 79px;
	margin-top: 25px;
}

.services-credit p::after {
	content: '';

	position: absolute;

	width: 465px;
	height: 285px;

	top: -1px;
	left: 244px;

	background-image: url("../img/credit.png");
	background-repeat: no-repeat;
}

.services-credit a {
	position: absolute;

	bottom: -64px;
	left: 78px;

	padding-left: 44px;
}

.services h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;

	margin: 0;
	padding: 0;

	margin-left: 79px;
	margin-top: -2px;
}

.services-info {
	display: flex;
	justify-content: space-between;

	margin-bottom: 86px;
}

.feature {
	display: inline-block;

	position: relative;

	margin-top: 54px;
}

.feature p {
	width: 536px;

	margin: 0;
	padding: 0;

	margin-top: 19px;
	padding-top: 3px;
}

.feature ul {
	list-style: none;

	margin: 0;
	padding: 0;
}

.feature li {
	position: relative;

	margin-top: 20px;
	margin-left: 36px;
	margin-bottom: 10px;
}

.feature li::before {
	content: '';

	position: absolute;

	left: -36px;
	top: 10px;

	width: 25px;
	height: 2px;

	background-color: #ee3643;
}

.feature .button {
	position: absolute;

	bottom: -65px;
	left: 0px; 
	
	padding-left: 41px;
	padding-right: 40px;
}

.contacts {
	position: relative;

	margin-left: 104px;
	margin-top: 54px
}

.contacts p {
	padding-top: 2px;
	width: 189px;

	margin-bottom: 30px;
}

.contacts .button {
	position: absolute;

	bottom: -65px;
	left: 0px;

	padding-left: 64px;
	padding-right: 59px;
}

.services-info h2,
.perforator-article h2 {
	font-size: 30px;
	line-height: 30px;

	text-transform: uppercase;
}

.services-info p,
.perforator-article p {
	font-size: 13px;
	line-height: 24px;
}

.feature li {
	font-size: 18px;
	line-height: 20px;
}

.footer-background {
	background-color: #32425c;

	margin-top: 151px;
}

.footer-catalog .footer-background {
	margin-top: 0;
}

.footer-menu {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	position: relative;

	font-size: 18px;
	line-height: 24px;
	color: #ffffff;

	padding-bottom: 31px;
}

.footer-menu ul {
	list-style: none;
}

.footer-menu a {
	color: #ffffff;
}

.logo-footer a {
	display: inline-block;

	top: 0px;

	background-color: #ee3643;
	box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);

	width: 220px;
	height: 68px;

	padding-top: 21px;
	padding-left: 42px;
}

.logo-footer a:hover {
	background-color: #ca2c37;
}

.logo-footer a:active {
	background-color: #ba2732;
}

.footer-menu-main ul {
	display: flex;

	margin-top: 38px;
	margin-left: 70px;
}

.footer-menu-main li {
	display: inline-block;

	margin-left: 60px;
}

.footer-menu-item ul {
	display: flex;

	margin: 0;
	padding: 0;

	margin-top: 16px;
	margin-left: 22px;	
}

.footer-menu-item li {
	margin-left: 60px;
}

.footer-menu-item a {
	color: #ffd180;
}

.footer-menu-main a:hover,
.footer-menu-item a:hover {
	text-decoration: underline;
}

.footer-menu-main a:active,
.footer-menu-item a:active {
	text-decoration: none;

	opacity: 0.5;
}

.footer-top,
.footer-middle {
	display: flex;
}

.footer-site {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

	background-color: #293449;
	padding-top: 9px;
	padding-bottom: 15px;
}

.address-footer {
	width: 330px;

	margin-top: -2px;
	margin-left: 3px;
}

.footer-copyright {
	display: flex;

	margin-top: 12px;
}

.footer-copyright p {
	width: 240px;
}

.footer-network ul {
	display: flex;

	margin-left: 106px;
}

.footer-network a {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: -1px;
	margin-left: 5px;
}

.footer-site ul {
	list-style: none;
}

.footer-network a {
	background-color: #212a3a;
	width: 40px;
	height: 40px;

	border-radius: 20px;

	font-size: 0;
}

.footer-network a:hover {
	background-color: #ee3643;
}

.footer-network a:active {
	background-color: #ee3643;
}

.footer-developed ul {
	display: flex;
}

.footer-developed a {
	color: #ffd180;

	padding-right: 2px;
}

.footer-developed a:hover {
	text-decoration: underline;
}

.footer-developed a:active {
	color: #ee3643;

	text-decoration: none;
}

.footer-feedback {
	margin-left: 80px;
	margin-right: 50px;
}

@keyframes bounce {
	0% {
		transform: translateY(-4000px);
	}

	70% {
		transform: translateY(-30px);
	}

	90% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0px);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.popap-feedback {
	width: 620px;

	padding-top: 46px;

	position: fixed;
	overflow: auto;
    left: 50%;
    top: 50%;
    z-index:9999;

    margin-left: -310px;
    margin-top: -215px;

	background-color: #ffffff;

	box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);

	border-top: 7px solid;
	border-top-color: #ff5357;

	display: none;
}

.popap-show {
	display: block;

	animation: bounce 0.6s;
}

.popap-feedback-error {
	animation: shake 0.6s;
}

.popap-feedback form {
	margin-bottom: 0;
}

.popap-feedback ul {
	display: flex;
	flex-wrap: wrap;

	list-style: none;

	margin: 0;
	padding: 0;

	padding-left: 80px;
	padding-right: 80px;
}

.popap-feedback input {
	margin-top: 11px;

	border: 2px solid #dee3e4;
	border-radius: 2px;

	width: 220px;
	height: 38px;
}

.popap-feedback p {
	margin: 0;
	padding: 0;
}

.popap-feedback-name {
	padding-right: 20px;
}

.popap-feedback-letter {
	margin-top: 20px;
}

.popap-feedback-letter textarea {
	width: 460px;

	border: 2px solid #dee3e4;
	border-radius: 2px;

	margin-top: 9px;
	margin-bottom: 37px;

	padding-top: 10px;
}

.button-popap {
	background-color: #f4f4f4;

	margin: 0;

	padding-left: 80px;
	padding-right: 80px;
	padding-top: 37px;
	padding-bottom: 37px;
}

.button-popap .button {
	width: 100%;

	position: relative;

  	border: none;
  	cursor: pointer;
}

.button-popap .button-close {
	font-size: 0;

	padding: 0;
 	border: none;
  	color: inherit;
  	background-color: transparent;
  	cursor: pointer;
}

.button-close::before {
	content: '';

	position: absolute;

	right: -2px;
	top: 20px;

	width: 21px;
	height: 21px;

	transform: translate(-50%, -50%);

	background-image: url("../img/icon-close.svg");
	background-repeat: no-repeat;
}

.popap-feedback label{
	font-size: 18px;
	line-height: 18px;
}

.button-submit {
	background-color: #f4f4f4;
}

.popap-feedback input[placeholder],
.popap-feedback textarea[placeholder] {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;

	color: #a9a9a9;

	padding-left: 12px;
}

.popap-map {
	position: fixed;

	overflow: auto;
    left: 50%;
    top: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);

    display: none;
}

.popap-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.popap-map a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.popap-map img {
	position: relative;
}

.popap-map .button-close {
	font-size: 0;

	position: absolute;

	right: 15px;
	top: 15px;

	z-index: 3;

	padding: 0;
 	border: none;
  	color: inherit;
  	background-color: transparent;
  	cursor: pointer;
}

.popap-basket {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	position: fixed;
	overflow: auto;
    left: 50%;
    top: 50%;
    z-index:9999;
    transform: translate(-50%, -50%);

	background-color: #ffffff;
	border-top: 7px solid;
	border-top-color: #ff5357;

	box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);

	display: none;
}

.popap-basket p {
	font-size: 30px;
	line-height: 30px;

	white-space: nowrap;

	padding-top: 75px;
	padding-left: 179px;
	padding-right: 125px;
	padding-bottom: 68px;
}

.popap-basket p::before {
	content: '';

	position: absolute;

	left: 82px;
	top: 90px;

	width: 70px;
	height: 70px;

	background-image: url("../img/icon-mark.svg");
	background-repeat: no-repeat;
}

.button-popap-basket {
	display: block;

	background-color: #f1f1f1;

	padding-top: 37px;
	padding-bottom: 37px;
	padding-left: 88px;
	padding-right: 88px;
}

.button-popap-basket .button {
	position: relative;

  	border: none;
  	cursor: pointer;

  	margin-right: 20px;

  	width: 220px;
  	height: 38px;
}

.button-popap-basket .button-catalog {
	width: 220px;
  	height: 38px;

  	padding-top: 4px;

  	cursor: pointer;

	border-radius: 4px;
}

.button-popap-basket .button-catalog:hover {
	border-color: #bdc6ca;
}

.button-popap-basket .button-catalog:active {
	border-color: #ee3643;
}

.button-popap-basket .button-close {
	font-size: 0;

	padding: 0;
 	border: none;
  	color: inherit;
  	background-color: transparent;
  	cursor: pointer;
}

.button-popap-basket .button-close::before {
	content: '';

	position: absolute;

	right: -3px;
	top: 16px;

	width: 21px;
	height: 21px;

	transform: translate(-50%, -50%);

	background-image: url("../img/icon-close.svg");
	background-repeat: no-repeat;
}